.label-FrontEnd {
  background-color: #cffafe;
  border: 1px solid #a5f3fc;
  color: #06789b;
}

.label-BackEnd {
  background-color: #ecfdcb;
  border: 1px solid #d9f99d;
  color: #65a30d;
}

.label-Docker {
  background-color: #cdf2fe;
  border: 1px solid #b3ebfe;
  color: #03758e;
}

.label-Kubernetes {
  background-color: #d2def9;
  border: 1px solid #bbcef6;
  color: #3261ae;
}
