.label-FrontEnd {
  background-color: #CFFAFE;
  border: 1px solid #A5F3FC;
  color: #0891B2;
}

.label-BackEnd {
  background-color: #ECFDCB;
  border: 1px solid #D9F99D;
  color: #65A30D;
}

.label-Docker {
  background-color: #CDF2FE;
  border: 1px solid #B3EBFE;
  color: #0296C9;
}

.label-Kubernetes {
  background-color: #D2DEF9;
  border: 1px solid #BBCEF6;
  color: #326DE5;
}
